body {
  background-color: #f6f9fc;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
}

#canvas {
  width: 550px;
  height: 550px;
  background-color: white;
  border-radius: 15px;
}

#control {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#control #control-thickness-wrapper {
  margin-bottom: 15px;
}

#control #control-button-wrapper {
  margin-bottom: 20px;
}

#control #control-button-wrapper button {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 5px 0px;
  width: 50px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 1rem;
}

#control #control-button-wrapper button:active {
  transform: scale(0.98);
}

#control #color-control-wrapper {
  display: flex;
}

#control #color-control-wrapper .color-control {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#control #color-control-wrapper #black {
  background-color: #2c2c2c;
}

#control #color-control-wrapper #white {
  background-color: white;
}

#control #color-control-wrapper #red {
  background-color: #ff3b30;
}

#control #color-control-wrapper #orange {
  background-color: #ff9500;
}

#control #color-control-wrapper #yellow {
  background-color: #ffcc00;
}

#control #color-control-wrapper #green {
  background-color: #4cd963;
}

#control #color-control-wrapper #skyblue {
  background-color: #5ac8fa;
}

#control #color-control-wrapper #blue {
  background-color: #0579ff;
}

#control #color-control-wrapper #purple {
  background-color: #5856d6;
}
