body {
  font-family: sans-serif;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  height: calc(100 * var(--vh, 1vh));
  width: 100%;
  overflow: hidden;
}

button {
  all: unset;
  cursor: pointer;
  padding: 5px 0px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 1rem;
}

#canvas {
  height: calc(100 * var(--vh, 1vh));
  width: 100%;
  background-color: white;
}

#control {
  position: absolute;
  bottom: 0.4rem;
  left: 0.4rem;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

#control #control-btn {
  background-color: lightgray;
  width: 120px;
  margin-top: 0.5rem;
}

#control #control-btn:active {
  transform: scale(0.98);
}

#control #control-wrapper {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

#control #control-wrapper #thickness-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 10px;
}

#control #control-wrapper #thickness-button-wrapper #thickness {
  flex-shrink: 1;
  flex-grow: 1;
  max-width: 130px;
  min-width: 0;
}

#control #control-wrapper #thickness-button-wrapper #control-button-wrapper {
  flex-shrink: 0;
  flex-grow: 0;
}

#control #control-wrapper #control-button-wrapper button {
  background-color: white;
  width: 75px;
}

#control #control-wrapper #control-button-wrapper button:active {
  transform: scale(0.98);
}

#control #control-wrapper #color-control-wrapper {
  display: flex;
}

#control #control-wrapper #color-control-wrapper .color-control {
  max-width: 50px;
  max-height: 50px;
  width: calc((100vw - 35px) / 9);
  height: calc((100vw - 35px) / 9);
  border-radius: 50%;
  cursor: pointer;
}

#control #control-wrapper #color-control-wrapper .selected {
  box-shadow: 0 0 0 5px rgb(104, 104, 104) inset;
}
